:root {
  --color-uno: #060b26;
  --color-dos: crimson;

  --tipo-letra-uno: "Nunito", sans-serif;
  --tipo-letra-dos: "Anek Malayalam", sans-serif;
  --tipo-letra-tres: "Rubik Moonrocks", cursive;
}

.boton button {
  background: var(--color-dos);
}

.editor {
  width: 50%;
  margin: 20px auto;
}

